@font-face{
    font-family: exanregular;
    src: url(Exan-Regular.ttf);
}

body{
    font-family: "exanregular";
    color: #6b6e7a;
    background-color: #fffff9;
    font-size: 20px;
    margin: 108px;
    margin-top: 54px;
}

/**NAVIGATION**/
.navigation{
    display: flex;
    height: 64px;
}

.left-part-nav{
    flex: 1;
}

.right-part-nav{
    flex: 1;
}

li{
    list-style-type: none;
}

.nav-selection{
    cursor: pointer;
    padding: 0px;
    display: flex;
}

.nav-list{
    flex: 1;
    text-align: right;
}

.nav-list:hover{
    flex: 1;
    text-align: right;
    font-size: 22px;
    color: #c7c5cd;
}

.nav-list.selected{
    flex: 1;
    text-align: right;
    font-size: 22px;
    color: #293041;
}

.content-container{
    height: auto;
}

.selected-page{
    display: none;
}

/**HOME PAGE**/
.home{
    height: 466px;
    display: flex;
    align-items: center;
}

.left-home{
    flex: 1;
    text-align: right;
}

.big-header{
    color: #293041;
    font-size: 64px;
    margin: 15px;
}

.desc{
    margin: 15px;
}

.right-home{
    flex: 1;
}

.main-image{
    border-radius: 5%;
    height: 50%;
    width: 50%;
}

/**ABOUT PAGE**/
.page{
    display: flex;
}